:root {
  --fira: 'Fira Sans', 'Helvetica', sans-serif;
}

html,
body {
  font-family: var(--fira);
  font-size: 16px;
  text-rendering: optimizeLegibility !important; /* stylelint-disable-line declaration-no-important */
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 20rem;
}
